@import '../mixin';

.footer-row {
    >.footer-grid-row {
        @include grid(400px 1fr 1fr 1fr);
        // padding-top: 12rem;
        max-width: 1240px;
        margin: 30px auto 0 auto;
        padding: 2rem 20px 2rem 20px;

        @include for_breakpoint(tablet) {
            @include grid(repeat(3, 1fr));
            padding: 0rem 20px 0rem 20px;
        }

        @include for_breakpoint(mobile) {
            @include grid(repeat(1, 1fr), 30px)
        }

        >div {
            // border: 1px solid white;
            height: auto;

            &:nth-child(1) {
                @include for_breakpoint(tablet) {
                    display: none;
                }

                >img {
                    width: 240px;
                    mix-blend-mode: color-dodge;
                }

                >div {
                    >h3 {
                        font-size: 24px;
                        color: white;
                        margin-bottom: 20px;
                    }

                    >p {
                        color: white;
                        font-size: 16px;

                        margin-bottom: 5px;

                        >a {
                            color: white;
                        }
                    }
                }
            }

            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
                >h3 {
                    font-size: 18px;
                    color: white;
                    margin-bottom: 15px;
                    font-weight: 500;
                }

                >ul {
                    padding-left: 15px;

                    >li {
                        margin: 10px 0px;
                        color: white;

                        >a {
                            text-decoration: none;
                            color: white;
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    >.footer-naming-row {
        // @include for_breakpoint()
        display: none;

        @include for_breakpoint(tablet) {
            display: block;
            padding: 2rem 20px 20px 20px;
            margin-top: 30px;
        }

        >img {
            width: 240px;
            mix-blend-mode: color-dodge;
            border-radius: 20px;
            margin-bottom: 20px;
        }

        >div {
            >h3 {
                font-size: 24px;
                color: white;
                margin-bottom: 20px;
            }

            >p {
                color: white;
                font-size: 16px;

                margin-bottom: 5px;

                >a {
                    color: white;
                }
            }
        }
    }

    >p {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 0;
        color: white;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        padding-top: 20px;
    }
}
