.header__wrapper {
    // background-color: #223049 !important;
    background-color: #212121 !important;

    >div {

        // >button {
        >div {
            &:nth-child(3) {
                >div {
                    input {
                        font-family: 'Merienda';
                    }
                }
            }
        }

        // }
    }
}

.admin__header {
    top: 0px !important;
}

.user__header {
    top: 33px !important;
}

.left__row__header {
    @include flex($justify: space-between);
    width: 100%;

    @include for_breakpoint(mobile) {
        flex-direction: column;
    }

    >div {
        // display: flex !important;

        &:nth-child(1) {
            flex: 0.155;

            @include for_breakpoint(LargeTablet) {
                flex: 0.5;
            }

            @include for_breakpoint(tablet) {
                flex: 1;
            }
        }

        &:nth-child(2) {
            flex: 1;
        }

        a {
            text-decoration: none;

            >img {
                width: 150px !important;
                mix-blend-mode: lighten !important;
            }
        }
    }
}

.cart__icon {
    position: relative;
    top: 0;
    min-width: 20px !important;

    @include for_breakpoint(mobile) {
        display: none !important;
    }

    >.cart__count {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        font-size: 12px;
        font-weight: 700;
        color: #212121;
    }
}

.menu__container {
    >ul {
        @include flex($gap: 40px);
        list-style: none;

        @include for_breakpoint(tablet) {
            display: none;
        }

        >li {
            a {
                text-decoration: none;
                color: white;
            }
        }
    }
}

.active__menu {
    list-style: square;
}

@media screen and (max-width: 598px) {
    .css-1orzy9s {
        display: none !important;
    }
}

.menu__dropdown__pro {
    div {
        &:nth-child(3) {
            ul {
                >li {
                    font-family: "Montserrat" !important;
                    font-weight: 600;
                }
            }
        }
    }
}

.MuiAvatar-circular{
    font-family: 'Merienda' !important;
}

.MuiTooltip-tooltip{
    font-family: 'Montserrat' !important;
  }