.header__wrapper {
    top: 36px !important;
    background-color: #223049 !important;

    >div {

        // >button {
        >div {
            &:nth-child(3) {
                >div {
                    input {
                        font-family: 'Merienda';
                    }
                }
            }

            >img {
                width: 150px !important;
                mix-blend-mode: lighten !important;
            }
        }

        // }
    }
}