@import '../mixin';

.products__container__row {
    @include grid(330px 1fr, 30px, 30px);
    margin-top: 40px;
    margin-bottom: 20px;

    @include for_breakpoint(LargeTablet) {
        @include grid(250px 1fr, 30px, 30px)
    }

    @include for_breakpoint(tablet) {
        @include grid(1fr, 30px, 30px)
    }


    >div {
        >h2 {
            font-size: 24px;
            margin-bottom: 15px;
        }

        >div {
            box-shadow: none !important;
        }

        height: auto;

        &:nth-child(2) {
            >.our__products {
                gap: 10px !important;
                grid-column-gap: 10px !important;
                grid-row-gap: 10px !important;
            }
        }
    }
}


// Banner Css starts here

.previous {
    text-decoration: none !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    color: #999999 !important;

    &:hover {
        text-decoration: underline !important;
    }
}

/* Full-width Banner */
.banner-container {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('../Assets/OurProducts/slide.png');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 0px;
    margin-top: 96px;

    @include for_breakpoint(mobile) {
        height: 450px;
        background-position: right;
        border-radius: 12px;
    }
}

/* Dark Overlay */
.banner-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    @include flex($justify: flex-start);
    padding-left: 80px;

    @include for_breakpoint(mobile) {
        padding-left: 20px;
    }
}

/* Text Box */
.text-box {
    width: 100%;
    max-width: 600px;
    position: relative;
    overflow: hidden;
    height: 250px;
    /* Set a fixed height for smooth animation */
}

/* Wrapper for Sliding Effect */
.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
}

/* Text Styling */
.banner-text {
    font-size: 48px;
    font-weight: 700;
    color: white;
    position: absolute;
    width: 100%;
    text-align: left;
    opacity: 0;
    font-family: "Montserrat";
    transform: translateY(-100%);
    animation: slideDown 0.5s ease-in-out forwards;

    @include for_breakpoint(mobile) {
        font-size: 28px;
    }
}


.button__shop__now {
    background-color: white !important;
    backdrop-filter: blur(30px);
    border-radius: 2px !important;
    padding: 10px 35px !important;
    font-family: "Montserrat" !important;
    color: #003049 !important;
    font-weight: 700 !important;
    margin-top: 20px !important;
}

/* Slide Down Animation */
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Navigation Arrows */
.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    color: white;
    transition: background 0.3s ease-in-out;

    @include for_breakpoint(mobile) {
        display: none;
    }
}

.arrow-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

// Banner Css ends here

.actions__cta {
    font-family: 'Montserrat' !important;
}

.top__filter__products__row {
    @include grid(repeat(2, 1fr));
    margin-bottom: 20px;

    >div {
        height: auto;

        &:nth-child(2) {
            >p {
                text-align: right;
            }
        }
    }
}


@media screen and (max-width: 992px) {
    .our__products {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.end {
    color: #999999 !important;
    font-weight: 600;
    font-size: 14px;
    margin-top: 50px;
    text-align: center;
}


.product__details__container {
    @include grid(0.6fr 1fr, 40px, 40px);
    margin-top: 30px;

    @include for_breakpoint(tablet) {
        @include grid(1fr 1fr, 40px, 40px);
    }

    @include for_breakpoint(mediumTablet) {
        @include grid(1fr, 40px, 40px);
    }

    >div {
        // border: 1px solid black;
        height: auto;

        &:nth-child(2) {
            >.desc-reviews-tab-grid-row {
                @include grid(repeat(2, 1fr), 30px);
                max-width: fit-content;
                margin: 20px 0;

                >div {
                    >p {
                        font-size: 18px;
                    }
                }
            }

            >.product_count {
                display: grid;
                grid-template-columns: 32px 80px 32px;
                gap: 10px;
                margin-top: 20px;

                >div {
                    >button {
                        background-color: #212121;
                        width: 32px;
                        height: 32px;
                        color: white;
                        border-radius: 50%;
                        min-width: 32px;
                    }

                    >input {
                        width: 80px;
                        height: 32px;
                        border: none;
                        padding: 0px 10px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.carousel__img>img {
    width: 100px !important;
}

.similar__prod__container {
    margin-top: 60px;

    >h2 {
        margin-bottom: 30px;
        font-size: 32px;
    }
}

.react-slider__ul>.active {
    border: 1px solid #212121;
}

.react-slider__btnNext,
.react-slider__btnPrev {
    background-color: #212121 !important;
}

.tabs {
    margin-top: 20px;

    >div {
        &:nth-child(3) {
            >div {
                >button {
                    font-family: 'Montserrat' !important;
                    font-weight: 600 !important;
                }
            }
        }
    }
}

.description_content {
    margin-top: 20px;

    >h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 22px;
        font-weight: 500;
        margin: 20px 0px 10px 0px;
    }

    >p {
        font-size: 16px;
        color: #212121;
        margin-bottom: 10px;
        margin-top: 5px;
        line-height: 1.3195;
        letter-spacing: 0.3px;
    }
}

.reviews__grid__row {
    @include grid(repeat(2, 1fr), 30px);
    grid-column-gap: 80px !important;

    @include for_breakpoint(tablet) {
        @include grid(repeat(1, 1fr), 30px)
    }

    div {
        &:nth-child(1) {
            position: relative;
            top: 0;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: -50px;
                height: 100%;
                width: 2px;
                background-color: rgba(0, 0, 0, 0.05);
            }

            .review__input__row {
                >.rating_container{
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
                >textarea {
                    width: 100%;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    font-family: "Montserrat";
                    font-weight: 400;
                    font-size: 16px;
                    outline: none;
                    // margin-top: 20px;
                    padding: 20px;
                    border-radius: 5px;
                }

                div {
                    @include flex();

                    >button {
                        background-color: #212121 !important;
                        width: 160px;
                        height: 44px;
                        border-radius: 50px;
                        color: white;
                        margin-top: 20px;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }
        }

        &:nth-child(2) {
            >h3 {
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}